#root {
  margin: 0 auto;
}

html,
body {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: white;
  color: black;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
main {
  width: 100%;
}

.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #f7eee3;
}

a:hover {
  color: #f5b05b;
}

p {
  margin: 0;

  a {
    color: black;
    text-decoration: underline;
  }
  a:hover {
    color: #2a5782;
  }
}

h1 {
  margin: 20px 0;
}

h2 {
  margin: 10px 0;
}

.bio {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 80vw;
  max-width: 760px;
}

.headshot {
  border-radius: 50%;
  margin-right: 20px;
  max-width: 200px;
  max-height: 200px;
}

.project_container {
  display: flex;
}

.project {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a5782;
  color: #f7eee3;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.project_img {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container {
    margin: 10px auto;
  }
  h1 {
    text-align: center;
  }
  .bio {
    flex-direction: column;
    align-items: center;
  }
  .project_container {
    flex-direction: column;
  }
}
