#root {
  margin: 0 auto;
}

html,
body {
  /* @media (prefers-color-scheme: light) {
    color-scheme: light;
  } */
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: white;
  color: black;
}

main {
  margin: 10vh 10vw;
  display: flex;
  align-items: flex-start;
    background-color: white;

}

.tableau {
  zoom: 0.6;
    width: 1366px

}

.bio {
  margin-right: 20px;
  max-width: 230px;
}

.headshot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.tabs {
    width: 830px;
}

@media only screen and (max-width: 600px) {
  main {
  margin: 10vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
  max-width: 230px;
}

}